<section
class="bg-black h-screen w-screen text-center relative overflow-hidden"
>
<div class="z-30 relative h-full flex flex-col">
  <header class="flex flex-col">
    <h2 class="text-white pt-40 text-5xl font-medium">
      Disfrute de Tesla
    </h2>
    <p class="text-white text-base">
      Programe una prueba de conduccíon hoy mismo
    </p>
  </header>
  <footer class="flex flex-col flex-grow justify-end pb-2">
    <div>
      <a
        class="border-[3px] border-white bg-white/5 text-sm rounded font-medium text-white px-12 py-2
        inline-block hover:bg-white hover:text-black transition-colors"
        href="#"
      >
        Prueba de conducción</a
      >
    </div>
  </footer>
</div>

<div class="absolute top-0 bottom-0 h-full z10">
  <video autoplay muted loop src="/video.webm"></video>
</div>
</section>